#* text=auto
*.txt text eol=crlf
*.java text eol=crlf
*.js text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.svg text eol=crlf
*.xml text eol=crlf
*.kts text eol=crlf
*.properties text eol=crlf
*.md text eol=crlf
*.adoc text eol=crlf